#main-header {
    font-weight: 600;
    font-family: 'Tahoma';
}

.custom-image {
    width: 100%;
    height: 400px;
}

.text-center {
    position: absolute;
    top: 50%;
    left: 50%;
     transform: translate(-50%, -50%);
     padding-bottom: 80px;
     color: white;
}

.image-container {
    position: relative;
    width: 100%;
}

.main-container{
    height: 100%;
    background-color: gray;
    margin-left: 100px;
    margin-right: 100px;
}