#main-header {
    font-weight: 600;
}

.custom-image {
    opacity: 90%;
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 80px;
    color: white;
    letter-spacing: 2px;
    text-shadow: 1px 1px 2px gray;
    font-size: 52px;
    width: max-content;
}

.image-container {
    position: relative;
    width: 100%;
}


.main-container {
    background-color: #eeeeee;
}

.main-content {
    background-color: white;
    padding: 10px 40px;
}

.content-image {
    width: 100%;
    height: 400px;
}

.title {
    font-size: 30px;
    margin: 0;
    padding: 20px
}

#main-body {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin: 0px 20px 40px 20px;
}

.main-list {
    padding: 10px 10px 20px 10px;
    margin: 0;
}

.column-1 {
    width: 70%;
    list-style-type: none;
}

.column-2 {
    width: 30%;
}

.search-title {
    font-size: 30px;
}

#link {
    padding: 20px 50px
}

#footer-wrapper {
    background-color: #eeeeee;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    padding: 30px 20px;
    gap: 100px
}

#item-header {
    font-size: 30px;
}

a {
    text-decoration: none;
}

.item-section {
    padding-right: 50px
}

#logo {
    width: 100px;
    height: 100px;
}